<footer>
	<div id="mainFooter">
		<div class="row">
			<!-- About Us -->
			<div class="span2">
				<h4>About Us</h4>
				<p>
					Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu,
					vehicula mauris lipsum adipiscing lipsum aenean orci lorem Asequat.
				</p>
			</div>
			<!-- Contacts -->
			<div class="span2">
				<h4>Contact Us</h4>
				<address>
					<strong>Twitter, Inc.</strong>
					<br />
					<i class="icon-tint"></i> 795 Folsom Ave, Suite 600
					<br />
					San Francisco, CA 94107
					<br />
					<i class="icon-phone"></i> (123) 456-7890
				</address>
				<address>
					<strong>Full Name</strong>
					<br />
					<a href="mailto:#">first.last@gmail.com</a>
				</address>
			</div>
			<!-- Twitter -->
			<div class="span4">
				<h4>Twitter</h4>
				<div class="tweet"></div><!-- Twitter Code -->
			</div>
			<!-- Flickr -->
			<div class="span4">
				<h4>Flickr</h4>
				<ul class="basicuse thumbs"></ul><!-- Flickr Code -->
				<div class="clearfix"></div>
				<div class="subscribee">
					Subscribe to our e-mail newsletter to receive updates.
					<br />
					<br />
					<form class="subscribe" />
					<input class="inputSubscribe" type="text" placeholder="Enter Your Email" />
					<button class="btn btn-warning btnSubscribe">
						Send
					</button>
					</form>
				</div>
			</div>
		</div>
		<!-- Copy rights + subscribtion area -->
		<div class="row bord-top">
			<div class="span6 copyrights">
				Copyright 2012  RICHY. All Rights Reserved. Theme by <a href="https://wrapbootstrap.com/user/ASteam">ASteam</a>
			</div>
			<div class="span6">
				<ul class="footer-social tooltip-title">
					<li>
						<a href="#" rel="tooltip" title="facebook"><i class="icon-facebook-sign"></i></a>
					</li>
					<li>
						<a href="#" rel="tooltip" title="twitter"><i class="icon-twitter-sign"></i></a>
					</li>
					<li>
						<a href="#" rel="tooltip" title="google plus"><i class="icon-google-plus-sign"></i></a>
					</li>
					<li>
						<a href="#" rel="tooltip" title="piterest"><i class="icon-pinterest-sign"></i></a>
					</li>
					<li>
						<a href="#" rel="tooltip" title="linked in"><i class="icon-linkedin-sign"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div><!--/mainFooter-->
</footer>
