{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block contenido%}
<div class="page-header">
	<h1>Contact Us</h1>
</div>
<div class="row">
	<!-- Left part -->
	<div class="span6">
		<h2><span >Hola</span> your message</h2>
		<p>
			Nullam volutpat lacinia nisi, nec laoreet dolor lobortis ut. Suspendisse quis nunc a arcu laoreet iaculis. Morbi vehicula metus ut massa tristique non aliquet nibh tempu, maecenas feugiat lectus. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante.
		</p>
		<div id="note"></div>
		<div id="fields" class="contact-form">
			<form id="ajax-contact-form" action="">
				<div class="controls controls-row">
					<input class="span3" type="text" name="name" placeholder="Name (required)">
					<input class="span3" type="text" name="email" placeholder="Email (required)">
				</div>
				<div class="controls controls-row">
					<input class="span6" type="text" name="subject" placeholder="Subject (optional)">
				</div>
				<div class="controls controls-row">
					<textarea class="span6" name="message" placeholder="Type Your Message Here" rows="10"></textarea>
				</div>
				<input type="submit" class="btn btn-large color-bg" name="submit" value="Send Message">
			</form>
		</div><!--/contact-form-->
	</div>
	<!--/Left part -->
	<!-- Right part -->
	<div class="span6">
		<section>
			<address>
				<strong>Head Office</strong>
				<br>
				<i class="icon-home marR10" pop="Address"></i> 795 Folsom Ave, Suite 600,
				San Francisco, CA 94107
				<br>
				<i class="icon-phone marR10" pop="Phone"></i> (123) 456-7890
				<br>
				<i class="icon-print marR10" pop="Fax"></i> (125) 488-7790
				<br>
				<i class="icon-time marR10" pop="Time"></i> Mon. - Fri. 10:00 - 21:00
				<br>
				<i class="icon-envelope-alt marR10" pop="E-mail"></i><a href="mailto:#">first.last@gmail.com</a>
			</address>
		</section>
		<p>
			Nullam volutpat lacinia nisi, nec laoreet dolor lobortis ut. Suspendisse quis nunc a arcu laoreet iaculis. Morbi vehicula metus ut massa tristique non aliquet nibh tempu, maecenas feugiat lectus. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante.
		</p>
		<div class="map-container">
			<div class="dummy"></div>
			<div class="element">
				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=9.74573,-63.178308&amp;num=1&amp;t=m&amp;ie=UTF8&amp;ll=9.74573,-63.178307&amp;spn=0.005541,0.010568&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=9.74573,-63.178308&amp;num=1&amp;t=m&amp;ie=UTF8&amp;ll=9.74573,-63.178307&amp;spn=0.005541,0.010568&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
				</div>
		</div>
	</div>
	<!--/Right part -->
</div>
{%endblock%} 