{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block contenido%}

{{ render(controller('ProyectoFrontBundle:Helpers:slideshow')) }}
<div class="catchText">
	<div class="row">
		<div class="span8">
			</br>
			<p class="padL30">
			
				¿Desea obtener un pr&eacute;stamo bancario? ¿Esta interesado(a) en conocer nuestros servicios?
			</p>
		</div>
		<div class="span3 offset1 marT20">
			<button class="btn-large btn color-bg" onclick="document.location.href = '{{path('proyecto_front_contacto')}}'">
				Cont&aacute;ctenos
			</button>
		</div>
	</div>
</div>
<!-- middle container (Main Content) -->
<!-- Services Blocks -->
<section class="outerDiv">
	<div class="row">
		<!-- Part
		================-->
		<div class="span3 centered tooltip-title">
			<div class="block">
				<div class="icon-block">
					<i class="icon-qrcode"></i>
				</div>
				<h3 class="color-text">100% RESPONSIVE</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at velit id massa dignissim consectetur ut quis felis. <a href="#" rel="tooltip" data-placement="top" title="Details">[...]</a>
				</p>
			</div>
		</div><!--/-->
		<!-- Part
		================-->
		<div class="span3 centered tooltip-title">
			<div class="block">
				<div class="icon-block">
					<i class="icon-twitter"></i>
				</div>
				<h3 class="color-text">TWITTER BOOTSTRAP</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at velit id massa dignissim consectetur ut quis felis. <a href="#" rel="tooltip" data-placement="top" title="Details">[...]</a>
				</p>
			</div>
		</div><!--/-->
		<!-- Part
		================-->
		<div class="span3 centered tooltip-title">
			<div class="block">
				<div class="icon-block">
					<i class="icon-beaker"></i>
				</div>
				<h3 class="color-text">WELL ORGANIZED CODE</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at velit id massa dignissim consectetur ut quis felis. <a href="#" rel="tooltip" data-placement="top" title="Details">[...]</a>
				</p>
			</div>
		</div><!--/-->
		<!-- Part
		================-->
		<div class="span3 centered tooltip-title">
			<div class="block">
				<div class="icon-block">
					<i class="icon-leaf"></i>
				</div>
				<h3 class="color-text">CLEAN DESIGN</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at velit id massa dignissim consectetur ut quis felis. <a href="#" rel="tooltip" data-placement="top" title="Details">[...]</a>
				</p>
			</div>
		</div><!--/-->
	</div>
	<!--/Block1-->
</section><!--/Services Blocks-->
<!-- Latest Projects -->

{{ render(controller('ProyectoFrontBundle:Helpers:galeria', { 'tipo': 'equipo','titulo':'El Equipo' })) }}
{{ render(controller('ProyectoFrontBundle:Helpers:ultimosArticulos', { 'tipo': 0,'titulo':'&Uacute;ltimos Art&iacute;culos' })) }}

<!-- This row contains // Latest from blog -->
{%endblock%} 